VITE_FLOWISE_API_ENDPOINT="https://flowise-coolify.hosting.tigzig.com/api/v1/prediction/916676e1-ac69-46b1-8241-78b4a80a275c" # Flowise API endpoint for General Analyst
VITE_API_ENDPOINT="https://rexdb.hosting.tigzig.cm" # REX DB API endpoint for Text-to-SQL and database operations
VITE_AUTH0_DOMAIN="dev-ztnexopjwwosxll.us.auth0.com" # Auth0 domain
VITE_AUTH0_CLIENT_ID="oFvyfPeTcI7kMpzFbcxqZl9G3nP5I64" # Auth0 client ID
VITE_NEON_API_URL="https://neon.hosting.tigzig.cm"  # Neon FastAPI server for database creation
VITE_SHOW_REX_DB_BUTTON="false"  # to hide the REX DB update button
VITE_MAKE_WEBHOOK_URL="https://hook.us1.make.com/3ykkrmftubwrtzoijsjjue7x32zbc2n"  # Make webhook URL to update database credentials for Neon DB users
VITE_FLOWISE_ADV_ANALYST_API_ENDPOINT="https://flowise-coolify.hosting.tigzig.com/api/v1/prediction/acda6507-c1b8-492f-a8b4-3b47aba6011e" # OpenAI Flowise API endpoint for advanced analyst 
VITE_FLOWISE_ADV_ANALYST_API_ENDPOINT_DEEPSEEK="https://flowise-coolify.hosting.tigzig.com/api/v1/prediction/704e4bbc-8da8-4333-9d5c-3892180befc" # Deepseek Flowise API endpoint for advanced analyst 
VITE_FLOWISE_ADV_ANALYST_API_ENDPOINT_GEMINI="https://flowise-coolify.hosting.tigzig.com/api/v1/prediction/917467eb-834e-4ea8-8d66-b8984fc40ab" # Gemini Flowise API endpoint for advanced analyst with error handling agent as part of advanced analyst agentflow route
VITE_RT_ENDPOINT="https://rtephemeral.hosting.tigzig.com" # Proxy server for LLM API Calls
VITE_FLOWISE_ADV_ANALYST_API_ENDPOINT_GEMINI_NOERR="https://flowise-coolify.hosting.tigzig.com/api/v1/prediction/d262a169-e3fb-49cc-be64-a3395757a92" # Gemini Flowise API endpoint for advanced analyst without error handling agent
VITE_FLOWISE_ADV_ANALYST_API_ENDPOINT_GEMINI_DEBUG="https://flowise-coolify.hosting.tigzig.com/api/v1/prediction/d262a169-e3fb-49cc-be64-a35757927" # Gemini Flowise API endpoint for advanced analyst with seperate error debugger agent