VITE_FLOWISE_API_ENDPOINT="https://flowise-coolify.hosting.tigzig.com/api/v1/prediction/916676e1-ac69-46b1-8241-78b4a8076c" # Flowise API endpoint for LLM-powered database operations
VITE_API_ENDPOINT="https://rexdb.hosting.tigzig.com" # REX DB API endpoint for Text-to-SQL and database operations
VITE_AUTH0_DOMAIN="dev-ztnexopjwwxlle.us.auth0.com" # Auth0 domain
VITE_AUTH0_CLIENT_ID="oFvyfPeTcI7pzFbcxqZl9G3nP5I694" # Auth0 client ID
VITE_NEON_API_URL="https://neon.hosting.tigzig.com"  # Neon FastAPI server for database creation
VITE_SHOW_REX_DB_BUTTON="false"  # to hide the REX DB update button
VITE_MAKE_WEBHOOK_URL="https://hook.us1.make.com/3ykkrmftubwrtzoijjue7x32zbc2n9"  # Make webhook URL to update database credentials for Neon DB users
VITE_FLOWISE_ADV_ANALYST_API_ENDPOINT="https://flowise-coolify.hosting.tigzig.com/api/v1/prediction/acda6507-c1b8-492f-a8b4-3b47ab012e" # OpenAI Flowise API endpoint for advanced analyst 
VITE_FLOWISE_ADV_ANALYST_API_ENDPOINT_DEEPSEEK="https://flowise-coolify.hosting.tigzig.com/api/v1/prediction/704e4bbc-8da8-4333-9d5c-38980befce" # Deepseek Flowise API endpoint for advanced analyst 
VITE_FLOWISE_ADV_ANALYST_API_ENDPOINT_GEMINI="https://flowise-coolify.hosting.tigzig.com/api/v1/prediction/917467eb-834e-4ea8-8d66-b8984f0abd" # Gemini Flowise API endpoint for advanced analyst with error handling agent in advanced analyst flow.
VITE_RT_ENDPOINT="https://rtephemeral.hosting.tigzig.com" # Realtime DB endpoint for realtime updates
VITE_FLOWISE_ADV_ANALYST_API_ENDPOINT_GEMINI_NOERR="https://flowise-coolify.hosting.tigzig.com/api/v1/prediction/e9377d3d-c1d0-4b5e-853a-0a9824ec76" # Gemini Flowise API endpoint for advanced analyst
VITE_FLOWISE_ADV_ANALYST_API_ENDPOINT_GEMINI_DEBUG="https://flowise-coolify.hosting.tigzig.com/api/v1/prediction/d262a169-e3fb-49cc-be64-a33957a927" # Gemini Flowise API endpoint for advanced analyst with seperate error debugger agent